.education-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    /* border: 1px solid red; */
}

.education-main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    /* border: 1px solid red; */
}

.education-main h1{
    color: var(--dark-gray);
}

.education-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--light-gray);
    color: var(--dark-gray);
    opacity: 0.4;
    border-radius: 1rem;
    margin-top: 1.5rem;
    width: 50%;
    /* border: 1px solid red; */
    gap: 1.5rem;
    padding: 1.5rem;
    z-index: 1;
}
