.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    margin-top: 6rem;
}

.portfolio-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.5rem;
}

.portfolio-heading > h2 {
    font-size: 1.5rem;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    gap: 1rem;
}

.portfolio-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 40%;
    
    box-shadow: 10px 10px 20px var(--primary-color), 10px 10px 20px var(--primary-color) inset;
    border-bottom: 1px solid var(--secondary-color);
    border-radius: 1rem;
}

.portfolio-cart > img {
    width: 90%;
    margin: 0.5rem;
    min-height: 40vh;
    object-fit: cover;
    border-bottom: 0.5px solid blue;
}

.portfolio-cart > img:hover {
    transform: scale(0.9);
}

.portfolio-cart-text {
    width: auto;
    margin: 0.5rem;
    min-height: 40vh;
    text-wrap: wrap;
    text-align: left;

    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
}

.portfolio-cart-btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin-bottom: 1rem;
}

.portfolio-cart-btn-group > a, .portfolio-cart-btn {
    width: 30%;
    background: var(--white-color);
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;

    color: var(--black-color);
    padding: 0.5rem 1rem;
}

.portfolio-cart-btn-group > a:hover, .portfolio-cart-btn:hover{
    background: var(--secondary-color);
    color: var(--white-color);
}



/* media queries */
@media screen and (min-width:240px) and (max-width: 420px) {
    .portfolio-cart {
        max-width: 100%;
    }

    .portfolio-cart-btn-group > a, .portfolio-cart-btn {
        width: 40%;
    }

    .portfolio-heading > h2 {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 421px) and (max-width: 480px) {
    .portfolio-cart {
        max-width: 80%;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .portfolio-cart {
        max-width: 80%;
    }

    .portfolio-cart > img {
        min-height: 45vh;
    }

    .portfolio-cart-text {
        min-height: 45vh;
    }
}

@media screen and (min-width: 721px) and (max-width: 1020px) {
    .portfolio-cart {
        max-width: 60%;
    }
}