.contact-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 6rem;
}

.contact-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.contact-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-block{
    display: grid;
    grid-template-columns: 100%;
    /* gap: 12%; */
    width: 30%;
    margin-top: 4rem;
}


/* left side */

.left-contact-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.contact-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--gray-color);
    border-radius: 1rem;
    width: 100%;

    gap: 0.7rem;
    padding: 1rem;

    box-shadow: 10px 10px 20px var(--primary-color), 10px 10px 20px var(--primary-color) inset;
    border-bottom: 1px solid var(--secondary-color);
}

.contact-cart > a {
    width: 30%;
    background: var(--white-color);
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--black-color);
    padding: 0.5rem 1rem;
}

/* .contact-btn-left {
    
} */

.contact-cart > a:hover {
    background: var(--secondary-color);
    color: var(--white-color);
}

/* .contact-btn-left:hover {
    background: var(--secondary-color);
    color: var(--white-color);
} */

/* .contact-cart a {
    text-decoration: none;
    color: var(--gray-color);
} */




/* right side */

.right-contact-block, .right-contact-block>form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.right-contact-block>form {
    width: 100%;
}

.right-contact-block input{
    padding: 1rem;
    width: 70%;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-color);
}

.right-contact-block textarea{
    width: 70%;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-color);
    padding: 1rem;
    resize: none;
}

.right-contact-block input, textarea::placeholder{
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.contact-btn{
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: 20%;
    background: var(--white-color);
    border: 1px solid var(--secondary-color);
}

.contact-btn:hover {
    background: var(--secondary-color);
    color: var(--white-color);
}


@media screen and (min-width: 240px) and (max-width: 320px) {
    .contact-block {
        width: 100%
    }

    .contact-cart > a{
        width: 50%;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .contact-block {
        width: 90%
    }

    .contact-cart > a{
        width: 40%;
    }
}


@media screen and (min-width: 481px) and (max-width: 720px) {
    .contact-block{
        width: 82%;
    }

    /* .contact-btn-left{
        width: 51%;
    } */
}

@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contact-block {
        width: 55%
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
    .contact-block {
        width: 40%;
    }
}

@media screen and (min-width: 1601px) and (max-width: 2000px) {
    .contact-block {
        width: 35%;
    }
}



