@import url('https://fonts.googleapis.com/css2?family=Allison&family=Poppins:ital,wght@0,200;0,500;1,300;1,400;1,500&display=swap');

:root{
  --font-base: "Allison Poppins", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    scroll-padding-top: var(--scroll-padding, 6rem);   
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  list-style-type: none;
  color: var(--light-gray);
  overflow: hidden;
  overflow-y: scroll;
}
 
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 1rem;
}


.btn{
  width: 20%;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--dark-gray);
}

